body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(1, 14, 10, 0.93);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Тёмная тема*/
#ButtonTheme{
  position: sticky;
  top: 20px;
  background-image: url("moon.svg");
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  border: 2px outset rgba(60, 243, 33);
  margin-left: 50px;
}
#ButtonTheme:active{
  background-color: rgba(171, 171, 171, 0.58);
}

.postImage{
  height: 300px;
  width: 300px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.postInImage{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
#sameNewsLbl{
  font-weight: bold;
  font-size: 24px;
  margin-left: 2.5%;
  color: #f8f8f8;
}

@media screen and (min-width: 400px){
  .mainMenu{
    background-color: rgb(4, 17, 4);
    position: relative;
    padding: 30px;
  }
  .menuLink{
    margin-left: -2px;
    text-decoration: none;
    padding: 10px;
    color: #f8f8f8;
  }
  .mainMenu nav{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 0.6%;
    border: 2px solid #49f30f;
    border-radius: 10px;

  }
}

@media screen and (max-width: 400px){
  .mainMenu{
    background-color: rgb(4, 17, 4);
    position: relative;
    padding: 20px;
  }
  .menuLink{
    margin-left: -2px;
    text-decoration: none;
    padding: 10px;
  }
  .mainMenu nav{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }
}
@media screen and (max-width: 350px){
  .mainMenu{
    padding: 30px;
  }
}

.sortBtn {
  margin-left: 2.5%;
  margin-top: 2.5%;
  background-color: rgba(136, 238, 34, 0.2);
  border: 2px outset rgba(60, 243, 33, 0.7);
  border-radius: 7px;
  padding: 5px;
}
.sortBtn:active{
  background-color: rgba(27, 49, 7, 0.73);
}

.sortBtnText {
  margin-left: 1%;
  background-color: rgba(136, 238, 34, 0.2);
  border: 2px outset rgba(60, 243, 33, 0.7);
  border-radius: 7px;
}
.sortBtnText:active{
  background-color: rgba(27, 49, 7, 0.73);
}

.searchSmth {
  color: #f8f8f8;
}
.searchSmth table{
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchSmth table td tr button{
  margin-left: 30%;
}
.searchSmth table button{
  color: #f8f8f8;
}
.searchSmth table td tr input{
  border-radius: 20px;
}
.searchSmth table td label{
  color: #f8f8f8;
}

@media screen and (min-width: 1200px) {
  .hrSplitPost{
    margin-right: 55%;
  }
}

@media screen and (max-width: 1200px) {
  .hrSplitPost{
    margin-right: 30%;
  }
}
@media screen and (max-width: 950px) {
  .hrSplitPost{
    margin-right: 0%;
  }
}



.myBookmarks{
  font-weight: bold;
  font-size: 24px;
  margin-left: 2.5%;
  color: #f8f8f8;
}
.pageBar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

.pageBarBtn{
  background-color: rgba(11, 190, 68, 0.2);
  border: 2px outset rgba(53, 222, 76, 0.7);
  border-radius: 10px;
  margin: 2px;
}

.pageBarBtnCurrent{
  background-color: rgba(248, 244, 6, 0.5);
  border: 2px outset rgba(95, 222, 53, 0.7);
  border-radius: 10px;
  margin: 2px;
  font-weight: bold;
}

.pageBarBtnFsCurrent{
  background-color: rgba(240, 248, 6, 0.5);
  border: 2px outset rgba(84, 222, 53, 0.7);
  border-radius: 10px;
  margin: 2px;
  font-weight: bold;
}

.pageBarBtnFs{
  background-color: rgba(72, 255, 0, 0.66);
  border: 2px outset rgba(121, 222, 53, 0.55);
  border-radius: 10px;
  margin: 2px;
}



.menuLink:hover{
  background-color: rgba(245, 245, 245, 0.1);
}


.newsList {
  list-style: none;
  color: #f8f8f8;
}

#newsTitle {
  font-weight: bold;
  font-size: 24px;
  color: black;
}

#headerNews{
  color: #f8f8f8;
  position: relative;
  text-decoration: none;
}
#postSummary{
  padding-top: 2%;
  padding-bottom: 2%;
  max-width: 500px;
  font-size: 18px;
  margin-left: 10px;
  font-style: italic;
}

.bookmarkBtn{
  margin-left: 2.5%;
  margin-top: 2.5%;
  background-color: rgba(41, 105, 26, 0.2);
  border: 2px outset rgba(90, 222, 53, 0.7);
  border-radius: 7px;
  padding: 5px;
  color: #f8f8f8;
}
.bookmarkBtn:active{
  background-color: rgba(12, 3, 3, 0.65);
}

#headerNews:hover::before{
  transform: scaleX(1);
}

#headerNews:before{
  background: rgba(0, 178, 238, 0.3);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}
.about{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 2px solid #282c34;
  background-color: rgba(13, 234, 83, 0.1);
}
#listAbout{
  margin-bottom: 20%;
  color: #f8f8f8;
}

/*Светлая тема*/
body.light-theme {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(170, 234, 212, 0.58);
}

body.light-theme code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body.light-theme #ButtonTheme{
  position: sticky;
  top: 20px;
  background-image: url("sun.svg");
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: rgba(171, 171, 171, 0.58);
  border: 2px outset rgba(60, 243, 33);
  margin-left: 50px;
}
body.light-theme #ButtonTheme:active{
  background-color: rgb(0, 0, 0);
}

body.light-theme #sameNewsLbl{
  font-weight: bold;
  font-size: 24px;
  margin-left: 2.5%;
  color: black;
}

@media screen and (min-width: 400px){
  body.light-theme .mainMenu{
    background-color: rgba(46, 183, 46, 0.75);
    position: relative;
    padding: 30px;

  }
  body.light-theme .menuLink{
    margin-left: -2px;
    text-decoration: none;
    padding: 10px;
    color: black;
  }
  body.light-theme .mainMenu nav{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 0.6%;
    border: 2px solid #49f30f;
    border-radius: 10px;
  }
}

@media screen and (max-width: 400px){
  body.light-theme .mainMenu{
    background-color: rgba(59, 215, 59, 0.62);
    position: relative;
    padding: 20px;
    background-color: #3be518;
  }
  body.light-theme .menuLink{
    margin-left: -2px;
    text-decoration: none;
    padding: 10px;
  }
  body.light-theme .mainMenu nav{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 0;
    background-color: #082103;
  }
}
@media screen and (max-width: 350px){
  body.light-theme .mainMenu{
    padding: 30px;
  }
}
body.light-theme .searchSmth table label{
  color: #000000;
}
body.light-theme .sortBtn {
  margin-left: 2.5%;
  margin-top: 2.5%;
  background-color: rgba(136, 238, 34, 0.64);
  border: 2px outset rgba(60, 243, 33, 0.7);
  border-radius: 7px;
  padding: 5px;
  color: black;
}
body.light-theme .sortBtn:active{
  background-color: rgba(29, 52, 8, 0.73);
}

body.light-theme .sortBtnText {
  margin-left: 1%;
  background-color: rgba(136, 238, 34, 0.64);
  border: 2px outset rgba(60, 243, 33, 0.7);
  border-radius: 7px;
  color: black;
}
body.light-theme .sortBtnText:active{
  background-color: rgba(27, 49, 7, 0.73);
}

body.light-theme .searchSmth table{
  display: flex;
  align-items: center;
  justify-content: center;
}
body.light-theme .searchSmth table td tr button{
  margin-left: 30%;
}

body.light-theme .searchSmth table td tr input{
  border-radius: 20px;
}

@media screen and (min-width: 1200px) {
  body.light-theme .hrSplitPost{
    margin-right: 55%;
  }
}

@media screen and (max-width: 1200px) {
  body.light-theme .hrSplitPost{
    margin-right: 30%;
  }
}
@media screen and (max-width: 950px) {
  body.light-theme .hrSplitPost{
    margin-right: 0%;
  }
}



body.light-theme .myBookmarks{
  font-weight: bold;
  font-size: 24px;
  margin-left: 2.5%;
  color: black;

}
body.light-theme .pageBar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
  color: black;

}

body.light-theme .pageBarBtn{
  background-color: rgba(11, 190, 68, 0.2);
  border: 2px outset rgba(53, 222, 76, 0.7);
  border-radius: 10px;
  margin: 2px;
}

body.light-theme .pageBarBtnCurrent{
  background-color: rgba(248, 244, 6, 0.5);
  border: 2px outset rgba(95, 222, 53, 0.7);
  border-radius: 10px;
  margin: 2px;
  font-weight: bold;
}

body.light-theme .pageBarBtnFsCurrent{
  background-color: rgba(240, 248, 6, 0.5);
  border: 2px outset rgba(84, 222, 53, 0.7);
  border-radius: 10px;
  margin: 2px;
  font-weight: bold;
}

body.light-theme .pageBarBtnFs{
  background-color: rgba(72, 255, 0, 0.66);
  border: 2px outset rgba(121, 222, 53, 0.55);
  border-radius: 10px;
  margin: 2px;
}



body.light-theme .menuLink:hover{
  background-color: rgba(245, 245, 245, 0.1);
}


body.light-theme .newsList {
  list-style: none;
  color: black;
}

body.light-theme #newsTitle {
  font-weight: bold;
  font-size: 24px;
}

body.light-theme #headerNews{
  position: relative;
  text-decoration: none;
  color: black;
}
body.light-theme #postSummary{
  padding-top: 2%;
  padding-bottom: 2%;
  max-width: 500px;
  font-size: 18px;
  margin-left: 10px;
  font-style: italic;
}

body.light-theme .bookmarkBtn{
  margin-left: 2.5%;
  margin-top: 2.5%;
  background-color: rgba(41, 105, 26, 0.2);
  border: 2px outset rgba(90, 222, 53, 0.7);
  border-radius: 7px;
  padding: 5px;
  color: black;
}
body.light-theme .bookmarkBtn:active{
  background-color: rgba(12, 3, 3, 0.65);
}

body.light-theme #headerNews:hover::before{
  transform: scaleX(1);
}

body.light-theme #headerNews:before{
  background: rgba(0, 178, 238, 0.3);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
  color: black;
}
body.light-theme .about{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 2px solid #282c34;
  background-color: rgba(13, 234, 83, 0.1);
  color: black;
}
body.light-theme #listAbout{
  margin-bottom: 20%;
  color: black;
}
body.light-theme main{
  color: black;
}